header {
    font-size: 1.5rem;
}
.nav{
    list-style: none;
    display:flex;
    justify-content: space-between;
    background-color: black;
    overflow:hidden;
}
a{
    color:white;
    text-decoration:none;
}
.logo{
    margin-right: auto;
}
.nav li:not(.logo){
    margin-left: 1.5rem;
}
.hero{
    width:100vw;
    height:100vh;
}