header {
    font-size: 1.5rem;
}
.nav{
    list-style: none;
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: black;
    color:white;
    overflow:hidden;
}
a{
    color:white;
    text-decoration:none;
}
