*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header {
    font-size: 1.5rem;
}

.nav{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    gap:.5vw;
    height:5vh;
    width:100vw;
}
a{
    color:white;
    text-decoration:none;
}
.logo{
    margin-right: auto;
}
.nav li:not(.logo){
    margin-left: 1.5rem;
}
.hero{
    width:100vw;
    height:100vh;
}